/* Reset some default styles */
body, h1, h2, h3, p, ul, li, hr, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

p {
    font-size: 1.2em;
}

/* About Me Section */
#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information {
    flex: 1;
}

.information h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.information hr {
    border-color: #4d4d4d;
}

.information p {
    font-size: 1.2em;
}

.socials {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.socials p {
    margin-right: 10px;
}

.social {
    margin-right: 15px;
}

/* Skills Section */
#skills {
    text-align: center;
}

#skills-container {
    margin-top: 20px;
}

#skills-container p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#skills-container li {
    font-size: 1.2em;
    list-style-type: none;
    margin-bottom: 5px;
}

/* Featured Projects Section */
#projects {
    text-align: center;
    margin-top: 30px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.project-card .subtext {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-link {
    color: 	#880808;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 5px;
}

.social a:hover {
    transform: translateY(-3px);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer:hover {
    background-color: #999;
    color: #ffffff;
}
