* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    animation: bg-animation;
    animation-duration: 10s;
    height: 100vh;
    color: white;
    font-size: 30px;
}

@keyframes bg-animation {
    0%   {background-color: #1c1d25;}
    20%  {background-color: red;}
    50%  {background-color: blue;}
    80% {background-color: purple;}
    100%   {background-color: #1c1d25;}
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

#hh-link {
    color:darkblue;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}


.socials {
    display: flex;
    justify-content: center;
    height: 30%;
}

.logo {
    height: 80px;
    margin: 30px;
}
.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.sub-section-skills{
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 100px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.skills-container {
    display: flex;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    border-radius: 20px;
    margin: 10px;
}

.project-card:hover {
    box-shadow: 5px 5px 20px rgb(100, 100, 100);
}



.project-container {
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 100px;
    border-radius: 25px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

